// Fonts
$primary-font: 'Nunito Sans', sans-serif;
$secondary-font: 'Inter', sans-serif;

// Font sizes
$font-size-sm: 12px;
$font-size-md: 14px;
$font-size-lg: 16px;
$font-size-xl: 20px;

// Font weights
$font-weight-normal: 400;
$font-weight-bold: 700;

// Line-heights
$line-height-sm: 20px;
$line-height-lg: 24px;
