// Theme colors
$color-primary: #605dec;
$color-secondary: #344293;
$utility-color: #f9f9fb;

// Text colors
$primary-text-color: #1a1a1a;
$secondary-text-color: #808080;
$tertiary-text-color: #ffffffde;

// Border color
$input-border: #dcdfe3;

// Input colors
$input-placeholder: #0000004d;

// Button colors
$utility-text: #000000de;

// Mask colors
$mask-color: #00000066;

// Pill colors
$light-purple: #e4e4ef;
$light-green: #ebf6eb;
$light-orange: #fff4e4;
$light-red: #fff0f0;

// Pill text colors
$pill-purple-text: #605dec;
$pill-green-text: #31aa27;
$pill-orange-text: #e99518;
$pill-red-text: #f93232;
