// This @use is used to surface the variables, mixins, and functions from the other files in the project.
@use './layouts' as *;
@use './typography' as *;
@use './variables' as *;

// This @forward is used to access the styles in the components
@forward 'layouts';
@forward 'typography';
@forward 'variables';

span {
  font-size: $font-size-md;
  font-weight: $font-weight-normal;
  line-height: $line-height-sm;
  font-family: $primary-font;
  color: $primary-text-color;
}
